<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button color="light" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Modos de Clase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center>
    <P>¿Deseas crear un nuevo modo de clase?</P>
    <ion-button class="round outline" (click)="crear_modo();">
      <ion-icon name="add-outline"></ion-icon> Nuevo Modo
    </ion-button>
    <br>
    <h2>Listado de Modos de Clases que existen</h2>
  </center>

  <ion-list>

  <ion-item *ngFor="let material of modo_list"(click)="material_seleccionado(material);" >
    <ion-label>
      <h2>
        <center>
          {{material.link_clase}}    
        </center>
      </h2>
      <br>
      <p color="warning">

        <center>
          {{material.estatus_material}}
        </center>
      </p>
    </ion-label>
  </ion-item>
</ion-list>


</ion-content>
