<ion-header [translucent]="true" padding color="dark">
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-menu-button color="light" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <center>
        Bienvenido a Wolfledge
      </center>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-list-header>
      Lista de Clases
    </ion-list-header>

    <ion-item *ngFor="let clase of clases_lista" >
      <ion-label>
        <h2>{{clase.album_name }}</h2>
        <h3>{{clase.album_date_released}} - {{clase.album_time_released }}</h3>
        <p>{{clase.artist_name }} - {{clase.genre_name }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
      
    </ion-content>



